@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #353f5f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #5c5c5c;
    color: white;
    position: relative;
}

header {
    
    background-color: #2a6016;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
}

header h1 {
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}

main {
    margin: 10px auto;
    padding: 20px;
    width: 50%;
   
}
#open-modal {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #49aa26;
    color: #fff;
    border: none;
    font-size: 2em;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #2a6016;
    }
}


#painel-resumo {
    background-color: #49aa26;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}


.box-valor {
    background-color: white;
    color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.box-valor h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.box-valor span {
    font-size: 24px;
    font-weight: bold;
}

/*
#form {
    margin: 20px auto;
    background-color: #49aa26;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}*/

form {
    display: flex;

    flex-direction: column;
    gap: 30px;
   
}

.form-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f0f0f0;
    color: #333;
    outline: none;
    width: 100%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-inputs {
    display: flex;
    align-items: start;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-buttons button{

    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a6016;
    color: white;
    font-size: 1.0em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: #1f4b12;
    }
}
.form-buttons button ion-icon {
    font-size: 1.2em;
    font-weight: bold;

}

#clear {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#lista-transacoes {
    background-color: #49aa26;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}


#lista-transacoes h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.8em;
}

li {
    list-style-type: none;
    background-color: #f0f0f0;
    color: #333;
}

.itens {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 3px solid #ccc;
    border-radius: 10px 10px 0px 0px;
}

.itens p {
    font-weight: bold;
    padding: 10px;
}

.itens.entrada {
    border-left: 5px solid #2a6016; /* Borda verde para entradas */
}

.itens.saida {
    border-left: 5px solid #e74c3c; /* Borda vermelha para saídas */
}

.fundo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o modal fique acima de outros elementos */
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 
}

.fundo-modal.ativo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2a6016;
    margin-bottom: 20px;
    
}


#close-modal {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.7em;
    color: #2a6016;
    font-weight: bold;
    padding: 2px;
    &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #1f4b12;
        color: #fff;
    }
}

#clear-AllList{
    position: absolute;
    top: 20px;
    right: 25px;
    background-color: #fff;
    color: #1f4b12;
    border: none;
    outline: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    &:hover {
        background-color: #1f4b12;
        color: #fff;
    }
}

#fundoModal-delete {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

#fundoModal-delete.ativo {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-header > h2{
    text-align: center;
    color: #2a6016;
    margin-bottom: 20px;

}

#modal-header h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1f4b12;
}

#modal-delete {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2a6016;
    color: white;
    font-size: 1.0em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:hover {
        background-color: #1f4b12;
    }
}

#btn-cancelar {
    background-color: #e74c3c;
    color: white;
    &:hover {
        background-color: #c0392b;
    }
}
